---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import getReadingTime from 'reading-time';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen">
		<Header />
		<main class="max-w-xl sm:px-0 px-6 mx-auto w-max">
			<ul class="space-y-16">
				{
					posts.map((post) => (
						<li class="flex flex-col gap-y-4 sm:flex-row text-center sm:text-left gap-x-4 items-center">
							<a href={`/${post.slug}/`}>
								<img src={post.data.heroImage} class="shadow-xl rounded-lg h-32 sm:h-20" alt={post.data.title}>
							</a>
							<div>
								<a href={`/${post.slug}/`} class="flex flex-col">
									<h4 class="font-bold text-2xl sm:text-3xl">{post.data.title}</h4>
									<div class="text-base sm:text-lg">{post.data.description}</div>
								</a>
								<aside class="flex gap-x-2 text-sm sm:text-base justify-center sm:justify-start">
									<FormattedDate date={post.data.pubDate}/>
									&bullet;
									<div class="whitespace-nowrap">☕ {getReadingTime(post.body).text}</div>
								</aside>
							</div>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
