---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import {render} from "astro/dist/runtime/server";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage, readingTime } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="max-w-2xl mx-auto px-4 sm:px-0">
			<article>
				<div>
					{heroImage && <img src={heroImage} alt="" class="rounded-xl w-min shadow-2xl" />}
				</div>
				<div class="prose mx-auto pt-16">
					<div class="text-center sm:text-left">
						<h1>{title}</h1>
						<aside class="flex gap-x-2 text-base justify-center sm:justify-start">
							<FormattedDate date={pubDate}/>
							&bullet;
							<div class="whitespace-nowrap">☕ {readingTime.minutesRead}</div>
						</aside>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
